//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.06-1
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Wed 07 20 16:20:33 2022

IO_LOC "fMclk" 1;
IO_PORT "fMclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "fMosi" 48;
IO_PORT "fMosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "fChipSel" 2;
IO_PORT "fChipSel" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "uartTX" 13;
IO_PORT "uartTX" PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "ledOut[3]" 27;
IO_PORT "ledOut[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "ledOut[2]" 28;
IO_PORT "ledOut[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "ledOut[1]" 29;
IO_PORT "ledOut[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "ledOut[0]" 30;
IO_PORT "ledOut[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8;
IO_LOC "fMiso" 47;
IO_PORT "fMiso" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "reset" 15;
IO_PORT "reset" IO_TYPE=LVCMOS25 PULL_MODE=UP;
IO_LOC "crystalClk" 45;
IO_PORT "crystalClk" PULL_MODE=UP;
